
.container-fluid{
	padding: 0;
	margin: 0;
}

.navbar{
	border-radius: 0px;
	background-color: rgba(0, 0, 0, 0.35);
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.navbar-brand{
  color: black;
  padding-left: 25px;
  font-size: 35px;
  font-weight: bold;
}

.navbar-brand:hover{
	color: white;
}

.nav{
	padding: 0;
	margin: 0;
}

.navbar-nav{
  text-align: center;
  font-size: 25px;
  padding: 0;
  margin: 0;
}

.navbar-toggle{
	margin-right: 25px;
	border: 2px solid white;
}

.icon-bar{
	background-color: white;
}

.main-title{
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

li{
	box-sizing: border-box;
	width: 100%;
}

.menu-item{
	width: 100%;
	color: black;
	display: block;
	background-color: white;
	border-bottom: 1px solid black;
	padding: 0;
	margin: 0;
}

.menu-item:hover{
	color: rgba(0, 0, 0, 0.5);
	background-color: rgba(0, 0, 0, 0.35);
}

.row{
	margin: 20px;
}

.content-box{
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: black;
	background-color: rgba(0, 0, 0, 0.35);
	padding: 20px;
	margin: 20px;
	width: auto;
	height: auto;
}

.item-name{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}